* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

section {
  background-color: #EEEEEE;
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}

section:nth-child(3) {
  background-color: #EEEEEE;
  width: 300px;
  padding: 10px;
  margin-right: 0px;
  position: relative;
}

.step {
  color: #f1f1f1;
  background-color: #ff9a4b;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  width: 280px;
  height: 150px;
  margin-right: 30px;
  background-size: cover;
  background-position: bottom;
}

.image:nth-child(1) {
  background-image: url(../img1-9-2/flow01.png);
}

.image:nth-child(2) {
  background-image: url(../img1-9-2/flow02.png);
}

.image:nth-child(3) {
  background-image: url(../img1-9-2/flow03.png);
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}