*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

header {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}



.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;

}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffbe;
}

.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box9 {
  width {
    width: 200px;
    height: 200px;
    background-color: #d9e5ff;
  }
}